/* =========={ Loading }========================================================================================== */

#loading {
  width: 110rem;
  height: 110vh;
  position: fixed;
  top: -5vh;
  left: -115rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  background-color: var(--white);
  z-index: 80;
  opacity: 0;
  transition: opacity var(--fast), left var(--delay);
}

#loading img {
  margin-top: -20rem;
  width: 50rem;
}

#loading.loading {
  left: -5rem;
  opacity: 1;
  transition: left 0s;
}

/* =========={ Navigation }========================================================================================== */

nav {
  width: 100rem;
  background-color: var(--white);
  height: 15rem;
  position: fixed;
  display: flex;
  align-items: center;
  border-bottom: 1rem solid var(--gray);
  transition: height var(--fast);
  font-size: 3rem;
  font-weight: 500;
  z-index: 90;
}

.initial nav {
  height: 18rem;
}

h1 {
  display: none;
}

nav > span {
  font-size: 4rem;
  color: var(--green);
  font-style: italic;
}

#navigation {
  display: flex;
  margin-left: auto;
  height: 100%;
}

#navigation i {
  font-size: 6rem;
  margin: 1rem 0;
}

#navigation div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}

#navigation div:last-of-type {
  padding-right: 4rem;
}

/* =========={ Navigation Bottom }================================================================================ */

#navigation-bottom {
  position: fixed;
  bottom: 0;
  width: 100rem;
  height: 15rem;
  background-color: var(--white);
  border-top: 1rem solid var(--gray);
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  z-index: 90;
}

#navigation-bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25rem;
  transition: background-color var(--fast), color var(--fast);
}

#navigation-bottom i {
  font-size: 5rem;
  margin: 1rem 0;
}

#navigation-bottom div.selected {
  background-color: var(--green);
  color: var(--white);
}

/* =========={ Pop-Up }========================================================================================== */

#pop-up {
  width: 110rem;
  height: 110vh;
  background-color: var(--fade-black);
  position: fixed;
  top: -5vh;
  left: -115rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding-top: 50rem;
  transition: opacity var(--fast), padding-top var(--fast), left var(--delay);
}

#pop-up.active {
  padding-top: 0;
  left: -5rem;
  opacity: 1;
  transition: opacity var(--fast), padding-top var(--fast);
}

#pop-up section {
  width: 90rem;
  min-height: 45rem;
  background-color: var(--white);
  padding: 5rem;
  font-size: 4rem;
  position: absolute;
  opacity: 0;
  transition: opacity var(--fast);
}

#pop-up section.displayed {
  opacity: 1;
  z-index: 100;
}

#pop-up h4 {
  margin-bottom: 3rem;
  font-weight: 500;
}

#pop-up .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--red);
}

/* =========={ Main }========================================================================================== */

main {
  padding: 15rem 0;
  transition: padding var(--fast);
  font-size: 5rem;
}

.initial main {
  padding: 18rem 0 15rem;
}

main > section {
  display: none;
  min-height: calc(100vh - 60rem);
  padding-bottom: 5rem;
}

main > section.active {
  display: block;
}

main > section > p {
  margin: 15rem 5rem;
}

main > section > img {
  margin: 0 5rem;
  width: 90rem;
  border-radius: 3rem;
}

main > section > h2 {
  font-size: 8rem;
  font-weight: 200;
  text-align: center;
  margin: 5rem 0 10rem;
}

/* =========={ Login, Register }========================================================================================== */

#login input,
#register input,
#register textarea {
  display: block;
  width: 100%;
  border: 1rem solid var(--gray);
  font-size: 4rem;
  transition: border var(--fast);
  border-radius: 10rem;
  padding: 1rem 3rem 1rem 8rem;
}

#login input:focus,
#register input:focus,
#register textarea:focus {
  border: 1rem solid var(--blue);
}

#register textarea {
  border-radius: 5rem;
}

#login > div,
#register #register-phase > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
}

#login > div > div,
#register #register-phase > div > div {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

#login > div > div i,
#register #register-phase > div > div i {
  color: var(--blue);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  transition: color var(--fast);
}

#login button,
#register button {
  font-size: 4rem;
  background-color: var(--blue);
  font-weight: 500;
  color: var(--white);
  padding: 1rem 5rem;
  border-radius: 10rem;
  margin-bottom: 3rem;
}

#login button i,
#register button i {
  margin-right: 0.5rem;
}

#login hr,
#register hr {
  margin-bottom: 3rem;
}

#login span,
#register span {
  display: block;
  font-size: 4rem;
  text-decoration: double;
  margin-bottom: 2rem;
}

#login span:last-of-type,
#register span:last-of-type {
  margin-bottom: 0;
}

#register-phase {
  position: relative;
  transition: height var(--slow);
  height: 40rem;
}

#register-phase > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity var(--fast);
}

#register-phase.first > :first-of-type {
  opacity: 1;
  transition: opacity var(--delayed-fast);
  z-index: 110;
}

#register-phase.second {
  height: 25rem;
}

#register-phase.second > :nth-of-type(2) {
  opacity: 1;
  transition: opacity var(--delayed-fast);
  z-index: 110;
}

#register-phase.third {
  height: 70rem;
}

#register-phase.third > :last-of-type {
  opacity: 1;
  transition: opacity var(--delayed-fast);
  z-index: 110;
}

/* =========={ Footer }========================================================================================== */

footer {
  background-color: var(--black);
  color: var(--white);
  padding: 5rem;
}

footer h2 {
  margin-bottom: 5rem;
  font-size: 6rem;
  font-weight: 500;
}

footer span {
  font-size: 4rem;
  display: block;
  margin-bottom: 3rem;
}

footer span i {
  margin-right: 1rem;
}

footer p {
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
}

/* =========={ Slide }========================================================================================== */

#slide {
  height: 150rem;
  position: relative;
}

#slide > div {
  width: 500rem;
  display: flex;
  height: 100%;
  transition: transform var(--fast);
}

#slide button {
  position: absolute;
  width: 15rem;
  height: 100%;
  top: 0;
  font-size: 10rem;
  background-color: transparent;
  color: var(--fade-white);
  transition: var(--fast);
}

#slide button.active {
  color: var(--white);
}

#slide #slide-left {
  left: 0;
}

#slide #slide-right {
  right: 0;
}

#slide > div > div {
  width: 100rem;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#slide .slide-1 {
  background-image: var(--slide-1);
}

#slide .slide-2 {
  background-image: var(--slide-2);
}

#slide .slide-3 {
  background-image: var(--slide-3);
}

#slide .slide-4 {
  background-image: var(--slide-4);
}

#slide .slide-5 {
  background-image: var(--slide-5);
}

/* =========={ Main Page }========================================================================================== */

#highlighteds {
  margin: 15rem 0;
  color: var(--green);
  padding: 0 3rem;
}

#highlighteds p {
  display: flex;
  align-items: center;
  font-style: italic;
  margin-bottom: 10rem;
}

#highlighteds p:last-of-type {
  margin-bottom: 0;
}

#highlighteds p:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

#highlighteds p i {
  font-size: 12rem;
}

#highlighteds p:nth-of-type(odd) i {
  margin-left: 2rem;
  margin-right: 3rem;
}

#highlighteds p:nth-of-type(even) i {
  margin-right: 2rem;
  margin-left: 3rem;
}

/* =========={ Menu, Language }================================================================================ */

#menu button,
#language button {
  display: block;
  background-color: transparent;
  font-size: 5rem;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

#menu button i {
  color: var(--blue);
}

#language button img {
  width: 10rem;
  margin: 1rem;
}

#language button {
  display: flex;
  align-items: center;
}

/* =========={ Menus }========================================================================================== */

.menu {
  position: relative;
  margin: 0 3rem 5rem;
  padding: 3rem 3rem 0;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 3rem var(--dark-gray);
  transition: padding var(--fast), box-shadow var(--fast);
}

.menu:last-of-type {
  margin-bottom: 0;
}

.menu.expanded {
  box-shadow: 0 0 3rem var(--green);
  padding: 3rem;
}

.menu .expand {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  transition: transform var(--fast);
}

.menu.expanded .expand {
  transform: rotate(-90deg);
}

.menu .menu-heading {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.menu .menu-heading > img {
  width: 35rem;
  padding-right: 3rem;
}

.menu .menu-heading > div {
  width: 53rem;
}

.menu .menu-heading > div h4 {
  margin-bottom: 2rem;
  font-weight: 600;
}

.menu .menu-body {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height var(--fast);
}

.menu.expanded .menu-body {
  max-height: 500rem;
}

.menu .menu-body hr {
  margin-bottom: 4rem;
}

.menu .menu-body h5 {
  font-size: 8rem;
  color: var(--blue);
  font-weight: 400;
  margin-bottom: 4rem;
}

.menu .menu-body p {
  margin-bottom: 4rem;
}

.menu .menu-body img,
.menu .menu-body video,
.menu .menu-body iframe {
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 3rem;
}

.menu .menu-body iframe {
  height: 50rem;
}

.menu .menu-body h6 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--green);
  margin-bottom: 4rem;
}

/* =========={ More }========================================================================================== */

.blog {
  margin: 0 3rem 5rem;
  padding: 3rem;
  box-shadow: 0.5rem 0.5rem 3rem var(--dark-gray);
  border-radius: 3rem;
  overflow: auto;
}

.blog:last-of-type {
  margin-bottom: 0;
}

.blog h4 {
  margin-bottom: 3rem;
}

.blog > img {
  float: left;
  width: 45rem;
  height: 40rem;
  margin: 0 3rem 3rem 0;
  border-radius: 3rem;
  object-fit: cover;
}

.blog .blog-content {
  position: fixed;
  width: 100rem;
  height: calc(100vh - 18rem);
  left: 0;
  bottom: calc(18rem - 105vh);
  background-color: var(--white);
  z-index: 110;
  transition: bottom var(--fast);
  overflow-y: scroll;
  padding: 5rem;
}

.blog .close {
  position: fixed;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 110;
  padding: 2rem 2.5rem;
  border-radius: 10rem;
  color: var(--red);
  background-color: var(--fade-black);
  transition: top var(--fast);
}

.blog.displayed .blog-content {
  bottom: 0;
}

.blog.displayed .close {
  top: 5rem;
}

.blog .blog-content h5 {
  font-size: 10rem;
  font-weight: 300;
  margin-bottom: 10rem;
  color: var(--blue);
}

.blog .blog-content p {
  margin-bottom: 5rem;
}

.blog .blog-content img,
.blog .blog-content video,
.blog .blog-content iframe {
  width: 100%;
  margin-bottom: 5rem;
  border-radius: 3rem;
}

.blog .blog-content iframe {
  height: 50rem;
}

.blog .blog-content hr {
  margin-bottom: 5rem;
}

.blog .blog-content h6 {
  font-size: 6rem;
  font-weight: 600;
  color: var(--green);
  margin-bottom: 5rem;
}

/* =========={ Notification }========================================================================================== */

#notification {
  position: fixed;
  z-index: 120;
  top: -25rem;
  left: 5rem;
  width: 90rem;
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  transition: top var(--slow);
}

#notification.displayed {
  top: 5rem;
}
