footer {
  background-color: var(--black);
  padding: 10rem 5rem 10rem;
  color: var(--white);
}

h4 {
  text-align: left;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

hr {
  border: 0.25rem solid var(--white);
  margin-right: 65%;
  margin-bottom: 2.5rem;
}

footer i {
  font-size: 5rem;
  margin-right: 2rem;
}

footer p {
  font-size: 3vw;
}

footer div,
footer p:not(:last-of-type) {
  margin-bottom: 2rem;
}
