@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("./navigation.css");
@import url("./header.css");
@import url("./feature.css");
@import url("./menu.css");
@import url("./order.css");
@import url("./footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 1vw;
  font-family: "Inter", sans-serif;

  scroll-behavior: smooth;

  --white: #fff;
  --light-gray: #efefef;
  --black: #0f0f1f;
  --green: #39aa36;
  --blue: #3f5fcf;

  --light-green: #3aaa36cf;
  --pale-green: #3aaa364f;

  --fast: 0.3s;
}

.center {
  display: flex;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  outline: none;
}

.center {
  display: flex;
  align-items: center;
}

/*


  --white: #fff;
  --gray: #9f9f9f;
  --yellow: #dddd01;

*/
