#order {
  margin-top: 15rem;
  padding: 5rem;
  background-color: var(--pale-green);
}

#order form {
  margin: 10rem 0 5rem;
}

#order select {
  font-size: 4rem;
  font-family: inherit;
  border-radius: 10rem;
  font-weight: 600;
  height: 10rem;
  padding-left: 2.5rem;
  margin-bottom: 5rem;
  width: 100%;
}

form > div > select:not(:last-of-type),
form > div > label:not(:last-of-type) {
  margin-right: 5rem;
}

label {
  display: block;
  width: 100%;
  font-size: 3rem;
  color: var(--green);
  padding-left: 3rem;
  margin-bottom: 1rem;
}

form span,
form button {
  font-size: 6rem;
  padding: 2rem 4rem;
  border-radius: 1rem;
  color: var(--white);
}

form span {
  background-color: var(--green);
}

form button {
  background-color: var(--blue);
}

#submit {
  margin-top: 2.5rem;
  justify-content: space-around;
}
